.card{
  background: white;
  border-radius: 5px;
  padding: 5%;
  @include showdown;
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__footer{
    display: flex;
    justify-content: space-between;
  }
}