.card{
  background: white;
  border-radius: 5px;
  padding: 5%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 
              0px 2px 10px rgba(0, 0, 0, 0.12);
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__footer{
    display: flex;
    justify-content: space-between;
  }
}