:root{
  // primary palete
  --primaryColor: #FF5F9B;
  --primaryColorSeconds: #8F4FFB;
  
  // second palete
  --secondaryColor: #FF8083;
  --secondaryColorSecond: #FFCA41;
  --secondaryColorThird: #10DDDF;

  //Text and Backgrounds
  --darkBlack: #16365f;
  --darkGrey: #6B859E;
  --lightGrey: #F7F8FB;
}

body{
  background: var(--lightGrey);
}


